<h1>Books</h1>
<table>
  <tr>
    <th>
      <p>title</p>
    </th>
    <th>
      <p>body</p>
    </th>
    <th>
    </th>
  </tr>
  <% @books.each do |book| %>
    <tr>
      <td>
        <p><%= book.title %></p>
      </td>
      <td>
        <p><%= book.body %></p>
      </td>
      <td>
        <%= link_to "Show", book_path(book.id), style: "color:black;" %>
        <%= link_to "Edit", edit_book_path(book.id), style: "color:black;" %>
        <%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "本当に削除しますか?", style: "color:black;" %>
      </td>
    </tr>
  <% end %>
</table>
<h2>New book</h2>
<%= form_with model: @newbook, url: books_path, method: :post do |f| %>
  <p>title</p>
  <%= f.text_field :title %>
  <p>body</p>
  <%= f.text_area :body %>
  <br><%= f.submit "Create book" %>
<% end %>

